.dropdown {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 300px;
  position: relative;
  border-radius: 5px;
  align-self: center;
  z-index: 1001;
  height: 100%;
}

.dropdown .options {
  position: absolute;
  top: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  opacity: 0;
  visibility: hidden;
}

.dropdown .options.visible {
  opacity: 1;
  visibility: visible;
}

.dropdown .options button.selected {
  background-color: #ddd;
  cursor: default;
}

/* .dropdown .options button:hover {
  background-color: #ddd;
} */

/* .dropdown .toggle:hover {
  background-color: #ccc;
} */
